---
import { type SkillJSON } from "../getData";
const { data, index, desc, full_name, skills } = Astro.props;

const description = (desc instanceof Array ? desc.join(" ") : desc) as string;
---

<div
    id={`ability-score-${index}`}
    class="card m-4 w-1/2 shadow-lg ability-score"
>
    <div class="card-body">
        <h2 class="card-title">{full_name}</h2>
        <p class="desc">{description}</p>
        {
            skills.length > 0 ? (
                <h3 class="font-bold">Skills that use this ability:</h3>
            ) : (
                ""
            )
        }

        <ul>
            {skills.map((skill: SkillJSON) => <li>{skill.name}</li>)}
        </ul>
    </div>
</div>
